.css_id__label {text-align:right;}
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_descricao__label { }
.css_descricao__line { }
.css_descricao__obj { }
.css_data__label { }
.css_data__line { }
.css_data__obj { }
.css_preco__label {text-align:right;}
.css_preco__line {text-align:left;}
.css_preco__obj {text-align:left;}
.css_obs__label { }
.css_obs__line { }
.css_obs__obj { }
