.css_cc_placa_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cc_placa_grid_line {vertical-align: top;text-align: left;}
.css_c_nome_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_c_nome_grid_line {vertical-align: top;text-align: left;}
.css_c_cpfcnpj_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_c_cpfcnpj_grid_line {vertical-align: top;text-align: left;}
.css_os_preco_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_os_preco_grid_line {vertical-align: top;text-align: right;}
.css_os_dataabertura_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_os_dataabertura_grid_line {vertical-align: top;text-align: center;}
.css_os_datafechamento_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_os_datafechamento_grid_line {vertical-align: top;text-align: center;}
.css_fechar_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_fechar_grid_line {text-align: center;}
