.css_dataabertura_label { }
.css_dataabertura_line { }
.css_dataabertura_obj { }
.css_datafechamento_label { }
.css_datafechamento_line { }
.css_datafechamento_obj { }
.css_operador_label { }
.css_operador_line { }
.css_operador_obj { }
.css_preco_label { }
.css_preco_line {font-weight:bold;text-align:left;}
.css_preco_obj {font-weight:bold;text-align:left;}
.css_idcli_car_label { }
.css_idcli_car_line {text-align:left;}
.css_idcli_car_obj {text-align:left;}
.css_obs_label { }
.css_obs_line { }
.css_obs_obj { }
.css_md_servico_label { }
.css_md_servico_line { }
.css_md_servico_obj { }
