.css_id__label {text-align:right;}
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_idmarca__label { }
.css_idmarca__line { }
.css_idmarca__obj { }
.css_idmodelo__label { }
.css_idmodelo__line { }
.css_idmodelo__obj { }
.css_idcor__label { }
.css_idcor__line { }
.css_idcor__obj { }
.css_placa__label { }
.css_placa__line { }
.css_placa__obj { }
.css_idcliente__label { }
.css_idcliente__line { }
.css_idcliente__obj { }
.css_ano__label {text-align:right;}
.css_ano__line {text-align:left;}
.css_ano__obj {text-align:left;}
.css_obs__label { }
.css_obs__line { }
.css_obs__obj { }
