.css_nome_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nome_grid_line {vertical-align: top;text-align: right;}
.css_cpfcnpj_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cpfcnpj_grid_line {vertical-align: top;text-align: right;}
.css_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_nomeres_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nomeres_grid_line {vertical-align: top;text-align: right;}
.css_tipo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tipo_grid_line {vertical-align: top;text-align: right;}
.css_tipoinscricao_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tipoinscricao_grid_line {vertical-align: top;text-align: right;}
