.css_mes_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_mes_grid_line {vertical-align: top;text-align: right;}
.css_preco_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_preco_grid_line {vertical-align: top;text-align: right;}
